extends layout

block content

    p upload file to view its size
        form(role="form", action="/upload", method="post", enctype="multipart/form-data")
            input(type="file", name="file")
            input(type='submit', name='submit')
